.messages {
	
}

.rect{
	
}
.rectR{
	-fx-fill: skyblue;
}
.rectC{
	-fx-fill: springgreen;
}

.buttons{
	-fx-effect: dropshadow(three-pass-box, grey, 5, 0.2, 2, 2);
	-fx-label-padding: 10;
	-fx-background-color: royalblue;
	-fx-font-weight: bold;
	-fx-text-fill: rgb(200,200,200);
}

.buttons:hover{
	-fx-cursor: hand;
	-fx-background-color: steelblue;
}

.clientText{
	-fx-border-color: springgreen;
	-fx-border-width: 2;
}

.textArea{
	-fx-border-color: linear-gradient(to bottom right, skyblue, black);
	-fx-border-width: 2;	
}